/*CSS reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; /*adjust padding within the box*/
    font-family: 'Quicksand', sans-serif;
}

body {
	/*background-color: skyblue;*/
	/*background-image: linear-gradient(red, green);	*/
	/*background-image: linear-gradient(to right, blue, white);*/
	/*background-image: linear-gradient(rgba(17,126,112,0.75), rgba(0,88,255,0.45));*/


	background-image: url("../images/bg5.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh; /*vh=viewport height*/
}

/*targets the element with the class name container*/
.container {
	width: 600px;
	margin: 0 auto; /*center the element horizontally*/
	text-align: center;
	padding-top: 180px;
}


/* targets the html element h1 */
h1 {

	color: honeydew; /*this changes the font color of the h1 element*/
	background-color: #333333; /*off black*/
	background-color: rgba(51,51,51,0.5);
	text-transform: uppercase; /*change lower case to uppercase*/
	font-size: 50px;
	letter-spacing: 3px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
    border-radius: 10px;
    border-width: 1px;
	border-color: lime;
	border-style: solid;

}
/* end of h1 styling */

/*start of h2 styling*/
h2 {
	color: honeydew;
	text-transform: uppercase;
	letter-spacing: 5px;
	background-color: #333;
	background-color: rgba(51,51,51,0.5);
	margin-bottom: 150px; /*creates space outside the element*/
	padding: 10px; /*creates space within the element*/
	border-radius: 10px;
	border-width: 1px;
	border-color: lime;
	border-style: solid;
}
/*end of h2 styling*/

/*targets the html element with the class attribute bio*/

.bio {
	font-size: 18px;
	line-height: 22px; /*adjust the space between the line*/
	color: honeydew;
	background-color: rgba(51,51,51,0.5); /*a in rgba means the opacity*/
	border-radius: 10px;
	border-width: 1px;
	border-color: lime;
	border-style: solid;
}
/*end of bio*/


/*targets the html attribute id with a value me*/
#me {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border-width: 3px;
	border-color: lime;
	border-style: solid;
	margin-bottom: 50px;

}


/*end of me*/




